# Week4_GradedLab
## Read Data

In [10]:
# I have provided you with the code to read the Data
import pandas as pd
mtc = pd.read_csv('monster_trading_cards.csv')
mtc.head()

,name,age,gender,user_name,monster_card,monster_description,price
0,Katherine,59,female,zachary04,tyrannosaurus-rex,humanoid (any race),18.31
1,Kimberly,77,female,hatfieldallen,spy,fey,15.56
2,Bonnie,33,female,christopher53,tyrannosaurus-rex,dragon,7.58
3,Patricia,64,female,kristinle,werewolf,fey,4.48
4,Cynthia,17,female,ecrosby,giant-constrictor-snake,humanoid (orc),17.73

# Top Spenders
## Identify the top 5 spenders in the game by total purchase value, and provide the following info on each player.
* user_name
* Purchase count
* Average Purchase Price
* Total Purchase Value

# Most Popular Items

## Identify the most popular `monster card` by purchase count, then list (in a table):
  * monster card
  * Purchase Count
  * Average Item Price
  * Total Purchase Value
  * The max price paid for this card
  * The min price paid for this card

# Most Profitable Items

## Identify the most profitable items by total purchase value, then list (in a table):
  * Item Name
  * Purchase Count
  * Average Item Price
  * Total Purchase Value

# Merge DataFrames
## Perform an inner join of the two dataframes `mtc` and `attr` below on the `monster_card` column
The `monster_attribute.csv` file contains all the attributes for each monster card such as strength and charisma.  After performing the inner join, play around with the data and try to answer questions like which monster is the fastest or strongest.  Have fun with it.

In [12]:
attr = pd.read_csv('monster_attributes.csv')

# DateTime
Determine how many passengers flew in the Third Quarter of 2017?
* Use the `AirPassengers.csv` dataset
* Subset only dates in 1950 into a new DataFrame
* Group new DataFrame into Quarters and aggregate the `#Passengers` column with aggregating function `sum` then sort Passengers in descending order